<div class="about-main">
  <h2>AllergyCheckerとは</h2>
  <p>
    複数人の食物アレルギーを一括で検索します。
    毎日出る給食の中から今日の給食に対して、チーム内のアレルギーを持っているメンバーをソートします。
    <br>毎日、児童のアレルギーをチェックしている小学校の先生に向けて作りました。
    <br>
    <br>使い方
    <br>1. チームを登録して、ログインする。
    <br>2. メンバーを登録する。
    <br>3. メニューを登録する。
    <br>4. アレルギーチェックをする。
  </p>
  
</div>