<div class="top_menu-main">
    <h2>Top Menu</h2>
    <ul class="top-menu">
        <li>
            <%= link_to("チーム編集", "/teams/#{@current_team.id}") %>
        </li>
        <li>
            <%= link_to("メンバー登録", "/members/index") %>
        </li>
        <li>
            <%= link_to("メニュー登録", "/menus/index") %>
        </li>
        <li>
            <%= link_to("アレルギーチェック", "/allergycheck") %>
        <li>
    </ul>
  
</div>